{% load static %}

<!Doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Favicons -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="16x16" type="image/png">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'css/inc/plugins.css' %}">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  <body>
    <header class="site_header fixed-top w-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{% static 'index.html'%}"><img src="{% static 'img/logo.png'%}" alt="pic"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#home">Home</a>
              <a class="nav-item nav-link" href="#services">Services</a>
              <a class="nav-item nav-link" href="#portfolio">Converter</a>
              <a class="nav-item nav-link" href="#testimonial">Testimonials</a>
              <a class="nav-item nav-link" href="#team">Why US</a>
              <a class="nav-item nav-link" href="#blogs">News</a>
              <a class="nav-item nav-link" href="#contact_us">Contact Us</a>
              
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="loader">
        <div class="boxLoading blue"></div>
      </div>
    </header>
    <main class="main_site" id="home">
      <!--========== start hero section =============-->
      <section id="hero_section" class="blue bg_blue_grad text-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 padding_right">
              <div class="hero_content">
                <h1 class="text-uppercase hero_tit text_animation" data-in-effect="bounceIn">START DOING YOUR EXCHANGES WITH GURUEXHANGE</h1>
                <p class="hero_desc wow fadeInDown" data-wow-delay="1.5s">We are the safest and most secure currency exchange provider in town.
                </p>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="hero_img text-center" >
                <img class="mw-100 wow fadeInUp" data-wow-delay="2s" src="{% static 'img/top_img.png'%}" alt="pic">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--========== start services section =============-->
      <section id="services" class="text-center blue">
        <div class="container">
          <div class="tradingview-widget-container">   
            <div class="tradingview-widget-container__widget">
            </div>   
          <div class="tradingview-widget-copyright">
      <a href="https://tr.tradingview.com" _fcksavedurl="https://tr.tradingview.com" rel="noopener" target="_blank"></a>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "OANDA:SPX500USD",
      "title": "SP 500"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "tr"
}
  </script>
   </div>
   </div>
   </section>
      <!--========== start about us section =============-->
      <section id="about-us" class="blue bg_blue_grad text-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
              <div class="about_image wow fadeInLeft">
                <img class="w-100" src="{% static 'img/about-us.jpg'%}" alt="pic">
                {% comment %} <a id="play_video" href="#">
                  <i class="fas fa-play paly_icon text_green"></i>
                </a> {% endcomment %}
              </div>
              {% comment %} <div class="video_popup animated fadeInUp justify-content-center align-items-center align-content-center">
                <div class="video_src">
                  <div class="iframe_src">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tiy1MeXzhfA" allowfullscreen></iframe>
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="about_content padding_left_4 wow fadeInRight">
                <h2 class="text-uppercase">what we do ?</h2>
                <p>We are the safest and fastest growing Currency exchange provider around, With more than 200,000+ Customers and 400,000+ Transactions under our belt.
                </p>
                <ul class="margin_top">
                  <li><i class="fas fa-circle _icon text_green margin_right"></i>Accurate Converson Rates.</li>
                  <li><i class="fas fa-circle _icon text_green margin_right"></i>Safe and Secure Transactions.</li>
                  <li><i class="fas fa-circle _icon text_green margin_right"></i>Least Buying and Selling Margins.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--========== start portfolio section =============-->
      <section id="portfolio" class="text-center blue">
        <div class="container">
          <h1 class="sec_title text-uppercase">Currency Converter</h1>
          <p class="sec_desc">Try our real time currency converter with over 200 currencies, These values are updated in real time according to market changes.</p>
          {% include 'converter.html' %}
        </div>
      </section>
      <!--========== start Testimonial section =============-->
      <section id="testimonial" class="blue sec_bg_gray">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-3">
              <div class="counter_data text-center">
                <i class="fas fa-users text_green counter_icon"></i>
                <h2 class="counter_value">200000</h2>
                <h3 class="text-uppercase counter_tit">Happy Clients</h3>
              </div>
              <div class="counter_data text-center">
                <i class="fas fa-project-diagram text_green counter_icon"></i>
                <h2 class="counter_value">400000</h2>
                <h3 class="text-uppercase counter_tit">Conversion/Trades</h3>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              {% comment %} <div class="counter_data text-center">
                <i class="fas fa-calendar-alt text_green counter_icon"></i>
                <h2 class="counter_value">20</h2>
                <h3 class="text-uppercase counter_tit">events</h3>
              </div> {% endcomment %}
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="clients_desc">
                <h2 class="text-uppercase">WHAT CLIENTS SAY</h2>
                <p class="client_opinion">We have a 200,000+ client base, who make currency exchanges at our retails on a weekly basis.Hear what some of our regular clients have to say about us.</p>
              </div>
              <div id="clients_slider" class="owl-carousel blue">
                <div class="client_item">
                  <p class="client_opinion">I recieve money from my father abroad and exchanges at their location is very easy, fast and secure.</p>
                  <div class="d-flex align-items-center">
                    <img class="client_image" src="{% static 'img/client1.jpg'%}" alt="pic">
                    <h3 class="client_name text-capitalize">Nagy el.saied</h3>
                  </div>
                </div>
                <div class="client_item">
                  <p class="client_opinion">I need to echange money on a regular basis almost and these guys are really helpful and hardworking.</p>
                  <div class="d-flex align-items-center">
                    <h3 class="client_name text-capitalize">Lee Hueng</h3>
                  </div>
                </div>
                <div class="client_item">
                  <p class="client_opinion">I have had the best working experience with these guys.</p>
                  <div class="d-flex align-items-center">
                    <img class="client_image" src="{% static 'img/client3.jpg'%}" alt="pic">
                    <h3 class="client_name text-capitalize">ali essa</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--========== start Team section =============-->
      <section id="team" class="blue text-center">
        <div class="container">
          <h1 class="text-uppercase">Why Us</h1>
          <p class="sec_desc">Select to do your Business with the most trusted exchangers around.</p>
          <div id="team_slider" class="owl-carousel blue margin_top_4">
            <div class="team_item">
              <div class="pic">
                <img class="w-100" src="{% static 'img/1.png'%}" alt="pic">
                  
              </div>
              <div class="team-content">
                <span class="post text-capitalize">Safe transactions</span>
              </div>
            </div>
            <div class="team_item">
              <div class="pic">
                <img class="w-100" src="{% static 'img/2.png'%}" alt="pic">
               
              </div>
              <div class="team-content">
                <span class="post text-capitalize">Accurate Rates</span>
              </div>
            </div>
            <div class="team_item">
              <div class="pic">
                <img class="w-100" src="{% static 'img/3.png'%}" alt="pic">
                
              </div>
              <div class="team-content">
                <span class="post text-capitalize">Real Time updates</span>
              </div>
            </div>
            <div class="team_item">
              <div class="pic">
                <img class="w-100" src="{% static 'img/4.png'%}" alt="pic">
              </div>
              <div class="team-content">
                <span class="post text-capitalize">Currency Legitemacy Security</span>
              </div>
            </div>
            <div class="team_item">
              <div class="pic">
                <img class="w-100" src="{% static 'img/5.png'%}" alt="pic">
              </div>
              <div class="team-content">
                <span class="post text-capitalize">Currency Legitemacy Security</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!--========== start blogs section =============-->
      <section id="blogs">
        <div class="container">
          <h1 class="text-center text-uppercase">Latest news</h1>
          <p class="sec_desc text-center">Keep in touch with the latest news from us to avoid any inconvenience.</p>
          <div class="row margin_top_4 align-items-center">
            <div class="col-md-12 col-lg-8">
              <div class=" blog_item">
                  <div class="blog_img">
                    <img class="w-100" src="{% static 'img/portfolio1.jpg'%}" alt="pic">
                  </div>
                  <div class="blog_content d-flex align-items-end text-white">
                    <div>
                      <h3 class="text-uppercase">Beware, We only have One location that is attached below. </h3>
                      <p class="text_small animated fadeInUp">Beware, We only have One location that is attached below.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class=" blog_item margin_bottom">
                  <div class="blog_img">
                    <img class="w-100" src="{% static 'img/portfolio2.jpg'%}" alt="pic">
                  </div>
                  <div class="blog_content d-flex align-items-end text-white">
                    <div>
                      <h3 class="text-uppercase">We have recently made our 400,000 th transaction.</h3>
                      <p class="text_small animated fadeInUp">We have recently made our 400,000 th transaction.
                      </p>
                    </div>
                  </div>
              </div>
              <div class=" blog_item">
                  <div class="blog_img">
                    <img class="w-100" src="{% static 'img/portfolio3.jpg'%}" alt="pic">
                  </div>
                  <div class="blog_content d-flex align-items-end text-white">
                    <div>
                      <h3 class="text-uppercase">Get in Touch</h3>
                      <p class="text_small animated fadeInUp">Get in touch to learn about our social outreach program.
                      </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--========== start contact us section =============-->
      <section id="contact_us" class=" blue sec_bg_gray">
        <div class="contact__us">
          <div class="container">
            <h1 class="text-uppercase text-center"><span>Get In Touch</span></h1>
            <p class="sec_desc margin_bottom text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="row contact-us margin_top_4 wow fadeInUp">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="contact_info text-left">
                  <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                    <i class="fas fa-map-marker-alt margin_right info_icon"></i>
                    <div>
                      <p class="text-uppercase text_bold">location</p>
                      <p class="text-uppercase"> 10,Park Street,London</p>
                    </div>
                  </div>
                  <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                    <i class="fas fa-mobile-alt margin_right info_icon"></i>
                    <div>
                      <p class="text-uppercase text_bold">phone</p>
                      <p class="text-uppercase"> <a href="tel:+15173977100">(+1) 517 397 7100</a></p>
                    </div>
                  </div>
                  <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                    <i class="far fa-envelope margin_right info_icon"></i>
                    <div>
                      <p class="text-uppercase text_bold">mail</p>
                      <p class="text-uppercase"><a href="mailto:abcdefg@gmail.com">abcdefg@gmail.com</a></p>
                    </div>
                  </div>
                  <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                    <i class="far fa-clock margin_right info_icon"></i>
                    <div>
                      <p class="text-uppercase text_bold">WORKING HOURS</p>
                      <p class="text-uppercase">Mon-Fri 9.00AM to 5.00PM.</p>
                    </div>
                  </div>
                    <a id="send_message" class="d-inline-block btn_style blu_grad_btn text-uppercase text-white" href="#">send message</a>
                </div>
                <div class="contact_popup animated fadeInUp">
                  <form  method="post">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        <input type="text" id="name" class="form-input w-100" name="name" placeholder="Full Name" required>
                      </div>
                      <div class="col">
                        <input type="email" id="email" class="form-input w-100" name="email" placeholder="Email" required>
                      </div>
                    </div>
                    <input type="text" id="phone" class="form-input w-100" name="phone" placeholder="Phone">
                    <textarea class="form-input w-100" id="message" placeholder="message" name="message"></textarea>
                    <button id="contact_submit" class="blu_grad_btn btn_style br_radius w-100 text-uppercase" type="submit" name="button">submit <i class="float-right hidden fa-spin fas fa-circle-notch"></i></button>
                    <div id="msgSubmit" class="h3 text-center hidden">Message Submitted! Thanks :)</div>
                  </form>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="map">
                  <div style="width: 100%"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d421701.2454303203!2d-90.21538947620296!3d34.33670749678344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88801b5b94e09a8b%3A0xabd6bc8b4f8f7ebb!2sUnited+States+Postal+Service!5e0!3m2!1sen!2seg!4v1536167131135" allowfullscreen></iframe></div><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--========== start footer section =============-->
    <footer class="site_footer text-center bg_blue_grad text-white">
      <div class="container">
        <p>GURU EXHANGE © 2021 All Rights Reserved.</p>
      </div>
    </footer>
    <script src="{% static 'js/jQuery-plugins.js'%}"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
  </body>

</html>
